# Node modules
week2/BmC-contract/node_modules

# Compilation output
week2/BmC-contract/dist

# pnpm deploy output
week2/BmC-contract/bundle

# Hardhat Build Artifacts
week2/BmC-contract/artifacts

# Hardhat compilation (v2) support directory
week2/BmC-contract/cache

# Typechain output
week2/BmC-contract/types

# Hardhat coverage reports
week2/BmC-contract/coverage

week2/BmC-contract/.env
