# Node modules
week2/node_modules

# Compilation output
week2/dist

week2/bundle

# Hardhat Build Artifacts
week2/artifacts

# Hardhat compilation (v2) support directory
week2/cache

# Typechain output
week2/types

# Hardhat coverage reports
week2/coverage

week2/.env
